target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project ###
.gitignore
test-file.jar
test-file.xml
test-file.tmp
test-file-parity.jar
App.class

/build/
**/build/
**build/*
**build/*/
**build/*/*
/.gradle/
**/.gradle/
**/.gradle/*
**/.gradle/*/
**/.gradle/**/
/.gradle/*
/.gradle/checksums/
/build/classes/
/.gradle/buildOutputCleanup/
.gradle/buildOutputCleanup/
**/.gradle/buildOutputCleanup/
/.gradle/buildOutputCleanup/*
**.gradle/buildOutputCleanup/*
**.gradle/buildOutputCleanup/**/
/src/main/java/Main.java
/src/main/java/calendar/PrettyDate.java
